<div *ngIf="player && playerStats; else loadingData">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text center font-big">
          <span class="font-big-title">{{player.name}}</span>
          <p>{{player.age}} years</p>
          <p>{{player.points}} ranking points</p>
        </div>
        <div class="card-action center">
          <button (click)="toggle()" class="indigo lighten-2 waves-effect waves-light btn-large btn-margin-10 btn-text">Stats</button>
          <button class="indigo lighten-2 waves-effect waves-light btn-large btn-margin-10 btn-text">Report</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col s12 m8 offset-m2">
      <div class="center-align font-medium" *ngIf="statsExpanded">
        <table class="centered responsive-table">
          <thead class="table-header-color">
            <tr>
              <th>Hard Outdoor (HO)</th>
              <th>Hard Indoor (HI)</th>
              <th>Grass Outdoor (GO)</th>
              <th>Grass Indoor (GI)</th>
              <th>Clay Outdoor (CO)</th>
              <th>Clay Indoor (CI)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{playerStats.hard_out}}</td>
              <td>{{playerStats.hard_in}}</td>
              <td>{{playerStats.grass_out}}</td>
              <td>{{playerStats.grass_in}}</td>
              <td>{{playerStats.clay_out}}</td>
              <td>{{playerStats.clay_in}}</td>
            </tr>
          </tbody>
        </table>
        <app-drav-hexagon [playerStats]='playerStats'></app-drav-hexagon>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingData>
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
