<mat-toolbar>
  <mat-toolbar-row>
    <button routerLink="/" class="indigo darken-2 waves-effect waves-light btn nav-btn">
      <p class="nav-btn-text">Home</p>
    </button>
    <button routerLink="/players" class="indigo darken-2 waves-effect waves-light btn nav-btn">
      <p class="nav-btn-text">Players</p>
    </button>
    <button routerLink="/tournaments" class="indigo darken-2 waves-effect waves-light btn nav-btn">
      <p class="nav-btn-text">Tournaments</p>
    </button>
    <button routerLink="/reports" class="indigo darken-2 waves-effect waves-light btn nav-btn">
      <p class="nav-btn-text">Reports</p>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
