<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/tennis-image.jpg">
        <span class="card-title">
          <h1>Tennis Player Predictor</h1>
        </span>
      </div>
    </div>
    <div class="font-desc">
      <div class="center">
        <p>Initial idea is an app which based on scrapped tennis statistics can predict how well specific player will perform
          in each tournament.
        </p>
        <p>It's an academic project which in its final form should consist of the following:</p>
      </div>
      <p>1) Scrapping data website</p>
      <p>2) Transforming extracted data and loading it into database</p>
      <p>3) Using data to obtain from it some new knowledge through mathematical operations</p>
      <p>4) Visualization of results</p>
      <p>5) Generating log files</p>
      <p>6) Generating raports containing results</p>
    </div>
  </div>
</div>
