<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/tennis-image.jpg">
        <span class="card-title">
          <h1>Tennis Player Predictor</h1>
        </span>
      </div>
    </div>
    <div class="font-desc">
      <div class="center">
        <p>An app building tennis player (TOP 100 in current ATP World Tour Ranking) performance model, which describes his
          playing skills on all surfaces in different conditions.
        </p>
        <p>
          Based on aforementioned model, the app calculates probability of winning by each of two previously chosen players in a confrontation
          between two of them.
        </p>
        <p>
          Data for model building and match outcome prediction are scrapped form ATP World Tour official website (www.atpworldtour.com).
        </p>
      </div>
    </div>
  </div>
